<div class="container_home">
    
  
</header>

<div class="container-fluid">
    <div class="row">
        

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Contact Us</h1>
            </div>

            
            <div class="contact">
                <div class="first" >
                 <form >
                     <label for="fName">First Name</label>
                     <input type="text" name="fName" id="fName"><br />
                     <label for="lName">Last Name</label>
                     <input type="text" name="lName" id="lName"><br />
                     <label for="email">Email</label>
                     <input type="email" name="email" id="email"><br />
                     <textarea name="feedback" id="feedback" cols="22" rows="5"></textarea>
                     <br />
                     <br />
                     <button type="submit">Submit</button>
                     <button type="reset">Clear</button>
                 </form>
                </div>
                <div class="moreInfo">
                    <p>
                    Contact us: <span> 012 435 842 </span> <br >
                    Cell number: <span> 084 838 9445 </span>
                    </p>
                    <a href="Nthabisengpertuniamosana@gmail.com" class="emailing">Click here if you want to send us email</a><br />
                    <br />
                    
                </div>
            </div>
        </main>
    </div>
</div>       
</div>